<html>
    <head>
        <meta charsert="utf-8">
    </head>
    <body>
        <table>
            <h1> Listagem de livros </h1>
            <tr>
                <td>ID</td>
                <td>Título</td>
            </tr>
            <tr for (livro in data.livros) >
                <td>${livro.id}</td>
                <td>${livro.titulo}</td>        
            </tr>  
        </table>      
    </body>
</html>
